<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/css/chooseTraining.css" type="text/css">
</head>

<body id="page-top">

<header>
    <% include ../partials/headerPages %>
</header>

<section class="bg-primary" id="choices">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <form role="form" name="addTraining" method="post" action="/addNewTraining">
                    <div class="form-group">
                        <label for="nameOfTraining">Neu Trainingsprogrammname:</label>
                        <input type="text" class="form-control" id="nameOfTraining"
                               placeholder="15-Prof-Kraft" name="nameOfTraining" value="">
                    </div>
                    <div class="form-group">
                        <label for="route">Anzahl der Rounds:</label>
                        <input type="text" class="form-control" id="route"
                               placeholder="2" name="route" value="">
                    </div>
                    <div class="form-group">
                        <label for="nameOfExercise1">Erste Aufgabe:</label>
                        <input type="text" class="form-control" id="nameOfExercise1"
                               placeholder="Liegestützen" name="nameOfExercise1" value="">
                    </div>

                    <div class="form-group">
                        <label for="nameOfExercise2">Zweite Aufgabe:</label>
                        <input type="text" class="form-control" id="nameOfExercise2"
                               placeholder="Juming Jacks" name="nameOfExercise2" value="">
                    </div>
                    <div class="form-group">
                        <label for="nameOfExercise3">Dritte Aufgabe:</label>
                        <input type="text" class="form-control" id="nameOfExercise3"
                               placeholder="Situps" name="nameOfExercise3" value="">
                    </div>
                    <div class="form-group">
                        <label for="sets">Anzahl der Sätzen:</label>
                        <input type="text" class="form-control" id="sets"
                               placeholder="3" name="sets" value="">
                    </div>
                    <div class="form-group">
                        <label for="repeats">Anzahl der Wiederholungen:</label>
                        <input type="text" class="form-control" id="repeats"
                               placeholder="10" name="repeats" value="">
                    </div>

                    <button type="submit" class="btn btn-default">Speichern</button>
                </form>
            </div>
        </div>
    </div>
</section>

<jsFooter>
    <% include ../partials/jsFooter %>
</jsFooter>

</body>
</html>
