<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/css/chooseTraining.css" type="text/css">
</head>

<body id="page-top">

<header>
    <% include ../partials/headerPages %>
</header>

<section class="bg-primary" id="choices">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <form>
                    <div class="btn-group">
                        Dauer des Trainings?
                        <select id="duration" type="text" class="form-control btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            Trainingsdauer<span class="caret"></span>
                            <option selected>30 min</option>
                            <option>45 min</option>
                            <hr class="light">
                        </select>
                    </div>

                    <div class="btn-group">
                        Ihr Niveau?
                        <select id="level" type="button" class="form-control btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            Trainingsniveau<span class="caret"></span>
                            <option selected>Anfänger</option>
                            <option>Profi</option>
                            <hr class="light">
                        </select>
                    </div>

                    <div class="btn-group">
                        Art des Trainings?
                        <select id="type" type="button" class="form-control btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            Ziel<span class="caret"></span>
                            <option selected>Muskelaufbau</option>
                            <option>Kraftausdauer</option>
                            <hr class="light">
                        </select>
                    </div>

                    <hr class="light">

                    <a href="publishTraining" id="ParamSpeichern" class="btn btn-default btn-xl">Start</a>

                </form>
            </div>
        </div>
    </div>
</section>

<jsFooter>
    <% include ../partials/jsFooter %>
</jsFooter>

</body>
</html>
