<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/css/chooseTraining.css" type="text/css">
</head>

<body id="page-top">

<header>
    <% include ../partials/headerPages %>
</header>

<section class="bg-primary" id="choices">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <form>
                    <div class="btn-group">
                        <div id="possibleDurations">
                            <p>Dauer des Trainings?</p>
                            <select id="duration" name="duration" type="button"
                                    class="form-control btn btn-default dropdown-toggle"
                                    data-toggle="dropdown">
                                <option value="0" selected></option>
                                <option value="1">30 min</option>
                                <option value="2">45 min</option>
                            </select>
                        </div>
                    </div>

                    <p></p>
                    <div class="btn-group">
                        <div id="possibleLevels">
                            <p>Ihr Niveau?</p>
                            <select id="level" name="level" type="button"
                                    class="form-control btn btn-default dropdown-toggle"
                                    data-toggle="dropdown">
                                <option value="0" selected></option>
                                <option value="1">Anfänger</option>
                                <option value="2">Profi</option>
                            </select>
                        </div>
                    </div>

                    <p></p>
                    <div class="btn-group">
                        <div id="possibleTypes">
                            <p>Art des Trainings?</p>
                            <select id="type" name="type" type="button"
                                    class="form-control btn btn-default dropdown-toggle"
                                    data-toggle="dropdown">
                                <option value="0" selected></option>
                                <option value="1">Muskelaufbau</option>
                                <option value="2">Kraftausdauer</option>
                            </select>
                        </div>
                    </div>
                </form>
                <p></p>

                <hr>

                <div class="btn-group">
                    <div id="nextSite">
                        <a href="publishTraining" class="btn btn-default btn-xl" role="button">Start</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<jsFooter>
    <% include ../partials/jsFooter %>
</jsFooter>

</body>
</html>
