<!DOCTYPE html>
<html class="en">
<head>
    <% include ../partials/head %>
</head>

<body id="page-top">

<header>
    <% include ../partials/header %>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Das beste Trainingsplan nur für dich</h2>
                <hr class="light">
                <p class="text-faded">Beim Boxtraining geht es nicht nur darum, Ihrem Gegenüber eins auf die Nase
                    zu hauen. Beim Boxtraining können Sie vor allem Ihren eigenen Körper stählen. Und nicht nur Muskeln
                    profitieren vom Boxen: Ein gelungenes Boxtraining verbessert auch Ihre Ausdauer, Schnellkraft,
                    Kraftausdauer und trainiert
                    Ihre Psyche.</p>
                <p class="text-faded">Welche Form des Boxtrainings die richtige für Sie ist, wie sich Boxtraining mit
                    Ihrem
                    Fitnesstraining kombinieren lässt und welche Ausrüstung Sie als Anfänger brauchen, verraten wir
                    Ihnen hier.</p>
                <a href="chooseTraining" class="btn btn-default btn-xl">Start</a>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="http://www.fitforfun.de/rezepte/muskelaufbau" class="portfolio-box">
                    <img src="/img/portfolio/1.jpg" id="img1" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Vorbereitung zum Boxen
                            </div>
                            <div class="project-name">
                                Die beste Rezepte fürs Training
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="downloadTraining" class="portfolio-box">
                    <div class="portfolio-box">
                        <img src="/img/portfolio/2.jpg" id="img2" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Unsere Trainingspläne in PDF format herunterladen
                                </div>
                                <br>
                                <div class="call-to-action">
                                    <a href="/download" class="btn btn-default btn-xl wow tada">Jetzt herunterladen</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="addNewTraining" class="portfolio-box">
                    <img src="/img/portfolio/3.jpg" id="img3" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Addieren Sie ein neues Trainingsprogramm
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<footer>
    <% include ../partials/footer %>
</footer>

<jsFooter>
    <% include ../partials/jsFooter %>
</jsFooter>

</body>
</html>
