<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/css/publishTraining.css" type="text/css">
</head>

<body id="page-top">

<header>
    <% include ../partials/headerPages %>
</header>

<section class="bg-primary" id="choices">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center">
			<div class="btn-group">

			</div>
		</div>
	</div>
</section>

<jsFooter>
    <% include ../partials/jsFooter %>
</jsFooter>

</body>
</html>
