<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/css/chooseTraining.css" type="text/css">
</head>

<body id="page-top">

<header>
    <% include ../partials/headerPages %>
</header>

<header>
    <div class="header-chooseTraining">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Training Tipps</h1>
            </div>
        </div>
    </div>
</header>


<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>Der perfekte Trainingsplan für die Woche</h2>
				<p>Laden Sie hier Ihren Trainingsplan für die ganze Woche herunter.
				So stärken Sie alle Muskelgruppen. Als Hilfsmittel benötigen Sie nur eine Hantel.</p>
			   <a href="/pdf/Wochenplan.pdf" class="btn btn-default btn-xl">Herunterladen</a>
            </div>
		</div>
	</div>
</section>

<!-- jQuery -->
<script src="/js/jquery.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/bower_components/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/bower_components/bootstrap/js/creative.js"></script>
<script src="/js/chooseTraining.js"></script>

</body>
</html>
