<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Boxen Trainingsplan</a>
            <a href="/" class="fa fa-1x fa fa-home wow bounceIn text-primary navbar-toggle collapsed"
               role="button"></a>
        </div>
    </div>
</nav>

<header>
    <div class="header-chooseTraining">
        <div class="header-content">
            <div class="header-content-inner">
                <h1><%= tagline %></h1>
                <hr>
                <p class="text-faded"><b><%= paragraph %></b></p>
            </div>
        </div>
    </div>
</header>
