<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Boxen Trainingsplan</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">Trainingsplan</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Angebote</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Infos</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header>
    <div class="header-content" id="chooseTraining">
        <div class="header-content-inner">
            <h1>Boxen Trainingsplan</h1>
            <hr>
            <p class="text-faded" ><b>Wenn Sie auf der Suche nach Tipps für Ihre nächste Kneipenschlägerei sind, sollten Sie hier lieber
                    das Handtuch werfen.</b></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Mehr erfahren</a>
        </div>
    </div>
</header>
