<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Boxen Trainingsplan</a>
            <a href="/" class="fa fa-1x fa fa-home wow bounceIn text-primary navbar-toggle collapsed"
               role="button"></a>
        </div>
    </div>
</nav>
