<button id="startCountdownButton" class="btn btn-default btn-xl">Start</button>

<p></p>
<div id="clockdiv">
    <div>
        <span class="hours"></span>
        <div class="smalltext">Stunden</div>
    </div>
    <div>
        <span class="minutes"></span>
        <div class="smalltext">Minuten</div>
    </div>
    <div>
        <span class="seconds"></span>
        <div class="smalltext">Sekunden</div>
    </div>
</div>
<p></p>

<button id="stopTimer" class="btn btn-default btn-xl">Stop</button>
